
body{
    font-family: "Playfair Display", serif;
    background-color:bisque;
    font-weight: 400;
    font-size: large;
    line-height:2cap;
    text-align:left;
    

}
h1{
    color:aqua;
}
a{
    color:blueviolet;
    text-decoration:none;
}
p{
    border: dashed red;
}
.as{
    color: blue;
}